@import "tailwindcss";

:root {
  --background: #f9f5ef;
  --foreground: #787878;

  --primary: #9e7c4f;
  --primary-foreground: #ffffff;
  --secondary: #c19c67;
  --secondary-foreground: #ffffff;

  --accent: #e4e0db;
  --accent-foreground: #7c592a; /* #5E3C10 */

  --icon: #c49153;
  --card: #ffffff;
  --card-foreground: #787878;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-playfair: var(--font-playfair);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-icon: var(--icon);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f5ef;
    --foreground: #787878;

    --primary: #9e7c4f;
    --primary-foreground: #ffffff;
    --secondary: #c19c67;
    --secondary-foreground: #ffffff;

    --accent: #e4e0db;
    --accent-foreground: #7c592a;

    --icon: #c49153;
    --card: #ffffff;
    --card-foreground: #787878;
  }
}

body {
  @apply bg-background text-foreground font-normal font-poppins overflow-x-hidden;
}

.wrapper {
  @apply w-full px-4 md:px-8 lg:px-20 xl:px-40 2xl:px-72;
}
